<!DOCTYPE html>
<html lang="pt-br">

<%- include('parts/head.ejs') %>

  <body>
    <link rel="stylesheet" href="/css/carrinho.css">
    <%- include('parts/header.ejs') %>
      <main id="main-carrinho">
        <h2>Carrinho</h2>
      <% if (carrinho.length == 0){ %>
        <p>Seu carrinho está vazio</p>
        <% }else{%>
          <% for (let item of carrinho){ %>
            <div>
              <p>
                <%= item.nome  %>
              </p>
              <p>
                <%= item.preco  %>
              </p>
              <p>
                <%= item.quantidade  %>
              </p>
            </div>
            <% } %>
          <% } %>
        </main>
      <%- include('parts/footer.ejs') %>
  </body>
</html>