<!DOCTYPE html>
<html lang="pt-BR">
<%- include('parts/head.ejs') %>

    <body>
        <link rel="stylesheet" href="/css/detalhe.css">
        <%- include('parts/header.ejs') %>
            <main>
                <h1>
                    <%= camisa.nome %>
                </h1>
                <h2>
                   R$ <%= camisa.preco%>
                </h2>
                <img src="<%= camisa.img %>" alt="<%= camisa.nome %>">
                <div>Detalhes: <%= camisa.detalhe%>
                </div>
                <form action="/carrinho/add" method="post">
                    <input type="hidden" name="id" value="<%= camisa.id %>">
                    <input type="hidden" name="nome" value="<%= camisa.nome %>">
                    <input type="hidden" name="preco" value="<%= camisa.preco %>">
                    <input type="hidden" name="img" value="<%= camisa.img %>">
                    <button> + Adicionar produto ao carrinho </button>
                </form>
            </main>
            <%- include('parts/footer.ejs') %>
    </body>

</html>