<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa - DH Sports</title>
    <link rel="stylesheet" href="/css/geral.css">
    <style>
        .nav-adm {
            background-color: rgba(0, 0, 0, 0.5);
            filter: blur(0.5);
        }

        .nav-adm ul {
            margin: 0 auto;
            padding: 0;
            width: 960px;
            display: flex;
        }

        .nav-adm ul li {
            display: block;
        }

        .nav-adm ul li a {
            display: block;
            padding: 20px;
            text-decoration: none;
            color: #FFF;
            font-size: 1.2rem;
        }

        .nav-adm ul li.selected a {
            background-color: #333333;
            cursor: default;
        }

        .nav-adm ul li:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        main {
            width: 960px;
            margin: 20px auto;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            filter: blur(0.5);
        }

        #tabela-de-usuarios {
            width: 100%;
            border-collapse: collapse;
        }

        #tabela-de-usuarios tbody td {
            border: 1px solid #666;
            padding: 5px;
        }

        #tabela-de-usuarios td:nth-child(1) {
            width: 30px;
        }

        #tabela-de-usuarios td:nth-child(2) {
            width: 100px;
        }

        #tabela-de-usuarios img {
            width: 100%;
            display: block;
        }

        .bt {
            text-decoration: none;
            background-color: #DDD;
            color: black;
            padding: 5px;
            font-size: 0.8rem;
        }
    </style>
</head>

<body>
    
    <main>
        <a class="bt" href="/adm/usuarios/create">Adicionar novo usuario</a>
        <table id="tabela-de-usuarios">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>E-mail></td>
                </tr>
            </thead>
            <tbody>
                <% for(const u of admin) { %>
                    <tr>
                        <td>
                            <%= u.id %>
                        </td>
            
                        <td>
                            <%= u.nome %>
                        </td>
                        <td>
                            <%= u.email %>
                        </td>

                        <td>
                            <a class="bt" href="/adm//<%= u.id %>/edit">Editar</a>
                            <a class="bt" href="/adm/usuarios/<%= u.id %>/delete">Remover</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </main>
</body>

</html>