<!DOCTYPE html>
<html lang="pt-BR">

<%- include('parts/head.ejs') %>


    <body>
        <link rel="stylesheet" href="/css/produtos.css">
        <%- include('parts/header.ejs') %>
            <main>
                <aside class="left">
                    <button>Search more</button>
                    </header>
                    <section class="check-aside">
                        <p class="p-check">Filtro</p>
                        <p class="p-categorias">Categorias</p>
                        <div class="all">
                            <input type="checkbox" name="check1" class="check1">
                            <label for="check2">Masculino</label>
                        </div>
                        <div class="all">
                            <input type="checkbox" name="check1" class="check1">
                            <label for="check1">Feminino</label>
                        </div>
                        <div class="all">
                            <input type="checkbox" name="check1" class="check1">
                            <label for="check3">Infantil</label>
                        </div>
                        <div class="all">
                            <input type="checkbox" name="check1" class="check1">
                            <label for="check4">Esportes</label>
                        </div>
                        
                    </section>
                </aside>
                </header>
                <section>
                    <% for (let produto of produtos) {%>

                        <article class="camisas">
                            <img src="<%=produto.img  %>" alt="<%=produto.nome  %>">
                            <h2>
                                <%=produto.nome %>
                            </h2>
                            <span class="preco">
                                <%=produto.preco %>
                            </span>
                            <a href="/detalhe/<%= produto.id %>">Ver mais</a>
                            <button>Gostei</button>
                        </article>
                        <% } %>

                </section>
                <footer class="footer2">
                    <button class="botao-carregar">Carregar mais produtos</button>
                </footer>
            </main>
            <%- include('parts/footer.ejs') %>
    </body>

</html>